/* font-family: 'Shrikhand', cursive; */
/* font-family: 'PT Serif', serif; */
body {
    background-image: url(../images/railway1.jpg);
}

h1 {
    font-size: 36px;
    font-family: cursive !important;
    text-align: center;
    padding: 50px;
}

h4 {
    font-family: cursive !important;
    font-weight: bold;
}

#content {
    background-color: navy;
    padding: 20px;
    opacity: 0.8;
}

th, label {
    color: white !important;
}

#formName {
    font-family: cursive !important;
    color: white !important;
}

input {
    width: 200px;
}

#searchbutton {
    margin-right: 12px;
    padding: 100px;
}

#searchForm {
    background-color: navy;
    padding: 20px;
    opacity: 0.8;
}