/* font-family: 'Shrikhand', cursive; */
/* font-family: 'PT Serif', serif; */

h1 {
    font-size: 3em;
    color: white;
}


h4 {
    font-size: 1.5em;
}


p {
    font-size: 0.75em;
}

header {
    color: white;
    text-align: center;
    margin-bottom: 75px;
}

.jumbotron {
    background-color: rgb(10,100,100);
    border-radius: 0;
}

.card {
    margin: 25px;
}

.card-header {
    background-color: rgb(3, 34, 34);
    color: white;
    padding: 24px;
}

.fas {
    margin-right: 12px;
}

input {
    width: 200px;
}

#searchbutton {
    margin-right: 12px;
}
