/* font-family: 'Shrikhand', cursive; */
/* font-family: 'PT Serif', serif; */
body {
    background-image: url(../images/railway1.jpg);
}

h1 {
    font-size: 3em;
    font-family: cursive !important;
}


h4 {
    font-size: 1.5em;
}


p {
    font-size: 0.75em;
}

header {
    color: white;
    text-align: center;
    margin-bottom: 75px;
}

.jumbotron {
    background-color: rgb(10,100,100);
    opacity: 50%;
    border-radius: 0;
}

.fas {
    margin-right: 12px;
}

input {
    width: 200px;
}

#searchbutton {
    margin-right: 12px;
}
